SUPABASE_URL=https://dksbucwrzxlsxshbwhdl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrc2J1Y3dyenhsc3hzaGJ3aGRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NDE1MzIsImV4cCI6MjEwMDMxNzUzMn0.1riUbkal2aIuWt6CXqOQRVaQ_tbOI7uMJVMq2SHU17w
